@{
    ViewData["Title"] = "Edit";
}

@{
    var today = DateTime.Now.ToString("yyyy-MM-dd");
}

@model SpendSmart.Models.Expense
<div class="text-center">
    <h1 class="display-4">Edit Expense</h1>
</div>



<form asp-action="CreateEditExpenseFrom" asp-controller="Home">
    <input hidden class="form-control" type="number" placeholder="0" asp-for="Id" />

    <label class="mt-4">Value $</label>
    <input class="form-control" type="number" placeholder="0" asp-for="Value" step="0.01" min="0.01" max="100000" />

    <label class="mt-4">Describtion</label>
    <input class="form-control" type="text" placeholder="Add a description" asp-for="Description" />

    <label class="mt-4">Date</label>
    <input class="form-control" type="date" id="expenseDateInput" placeholder="Add a Date" asp-for="Date" max="@today" value="@today" />

    <button class="btn btn-primary mt-4" type="Submit">OK</button>


</form>


